
<h1>Find out if your triangle is an equilateral, or isoscele, or scalene or not</h1>

<form action="/triangles">
  <div class="form-group">
    <label for="side1">Length of the fisrt side</label>
    <input id="side1" name="side1" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="side2">Length of the second side</label>
    <input id="side2" name="side2" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="side3">Length of the third side</label>
    <input id="side3" name="side3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Click</button>
</form>
