<h1>Is it an equilateral, an isoscele, a scalene or not a triangle?</h1>


<% if @triangles.triangles?() == false %>
  <h5> It is not a triangle!</h5>
<% end %>
<% if @triangles.equilateral?() %>
  <h5> It is an equilateral!</h5>
<% end %>
<% if @triangles.isosceles?() %>
  <h5> It is an isosceles!</h5>
<% end %>
<% if @triangles.triangles?() == true && @triangles.scalene?() %>
  <h5> It is a scalene!</h5>
<% end %>
